[submodule "vendor/SortFilterProxyModel"]
	path = vendor/SortFilterProxyModel
	url = https://github.com/status-im/SortFilterProxyModel.git
[submodule "lib/zxing-cpp"]
	path = lib/zxing-cpp
	url = https://github.com/nu-book/zxing-cpp
